body {
    background: url('../images/background-map.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

section
{
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    height: 100%;
}

.btn,
.btn:focus
{
    background-color: #0073b4;
    color: #fff;
}

.btn:hover,
.btn:active
{
    background-color: #3779A6;
    color: #fff;
}

.construction-link a,
.construction-link a:focus
{
    color: #0073b4;
}

.construction-link a:hover,
.construction-link a:active
{
    color: #3779A6;
}

.top-decoration
{
    height: 5px;
    background-color: #EE7F2D;
    margin: 0 5%;
}

h1
{
    color: #f58025;
    line-height: calc(1.375rem + 1.5vw);
}

.wrapper
{
    background-color: #fff;
    border: 2px solid #EE7F2D;
    margin: 0 4rem;
}

h1,
.element
{
    margin: 1rem;
}

.footer
{
    background-color: #EE7F2D;
    color: #10312D;
    padding: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

.footer img
{
    width: 25px;
}